.navbar {
    overflow: hidden !important;
    background-color: #7c7c7c !important;
    display: none;
}

li {
    list-style-type: none !important;
}

.navbar a {
    font-size: 16px;
    color: #FFF !important;
    text-align: center;
    text-decoration: none !important;
}

.navbar a:hover{ 
    color: #fe0016 !important;
}

.navbar-center {
    text-align: center !important;
}

.homeNav {
    display: inline-block;
}

.home {
    color: #000;
}

.home:hover {
    color: #fe0016;
    text-decoration: none;
}

body {
    background-color: #b2b4b2;
    margin: 0px;
    padding: 0px;
}

.bodyClass {
    text-align: center;
}

.input-group.lisu {
    display: inline-block !important;
}


.lisua {
    color: #000;
}

.lisua:hover{
    color: #fe0016;
    text-decoration: none;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.form-control:focus {
    border-color: #000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(000, 0, 0, 0.6) !important;
}

#error {
    color: #ff0000;
}

#accntbtn:hover {
    background-color: #FFF;
}

#loggedin {
    display: none;
}

#viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
  
#content {
    width: 100%;
    position: relative;
    margin-right: 0;
}
  
#sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}