.navbar {
    overflow: hidden !important;
    background-color: #7c7c7c !important;
    display: none;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #000;
}

li {
    list-style-type: none !important;
}

.navbar a {
    font-size: 16px;
    color: #FFF !important;
    text-align: center;
    text-decoration: none !important;
}

.navbar a:hover{ 
    color: #fe0016 !important;
}

.navbar-center {
    text-align: center !important;
}

.homeNav {
    display: inline-block;
}

.home {
    color: #000;
}

.home:hover {
    color: #fe0016;
    text-decoration: none;
}

body {
    background-color: #b2b4b2;
    margin: 0px;
    padding: 0px;
    font-family: 'Muli', sans-serif;
}

.bodyClass {
    text-align: center;
}

.input-group.lisu {
    display: inline-block !important;
}

.input-group.sellGame {
  display: inline-block !important;
}

.lisua {
    color: #000;
}

.lisua:hover{
    color: #fe0016;
    text-decoration: none;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.form-control:focus {
    border-color: #000 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(000, 0, 0, 0.6) !important;
}

#error {
    color: #ff0000;
}

#buybtn:hover {
  background-color: #000;
  color: #fff;
}

#accntbtn:hover {
    background-color: #FFF;
}

#sellbtn:hover {
    background-color: #FFF;
}

#loggedin {
    display: none;
}

.border-bttm {
  border-bottom: 1px solid #000;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
  
#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  display: none;
  font-size: 20px;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #FFF;
  border-right: 1px solid #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
  
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
  
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
  
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
  
.fixed-brand {
  width: auto;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
}
  
.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}
  
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000;
}
  
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fe0016;
  background: #ffffff33;
  /* border-left: 2px solid #000; */
}
  
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
  
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
  
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
  
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
  
.no-margin {
  margin: 0;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 90px;
  }
  .fixed-brand {
    width: 90px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 90px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 90px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
    width: 0px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left: -200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

textarea#messageBox {
  width:100%;
  border: 1px solid #000;
  resize: none;
}

textarea#messageBox2 {
  width: 100%;
  resize: none;
}

textarea#messgaeBox:focus {
  border: 1px solid #000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00), 0 0 8px rgba(000, 0, 0, 0.0) !important;
}

textarea#messgaeBox2:focus {
  border: 1px solid #000 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00), 0 0 8px rgba(000, 0, 0, 0.0) !important;
}

.textwrapper
{
  margin:5px 0;
  padding:3px;
}

.topRow {
  float: left;
}

#new {
  display: none;
}

#messages {
  display: none;
}

#message {
  display: none;
  font-weight: bold;
  font-size: 20px;
}

.center {
  text-align: center;
}

#messageTD {
  font-size: 30px;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 2px solid #000;
}

#delTD {
  font-size: 30px;
  padding-left: 25px;
  border-left: 2px solid #000;
  /* display: none; */
}

a.tableA {
  color: #000;
  text-decoration: none;
}

a.tableA:hover {
  color: #fe0016;
}

.imgLeft {
  float: left;
  padding-right: 10px;
}

.gameBottom {
  padding-bottom: 40px;
}

.gameBottom2 {
  padding-bottom: 10px;
}

.gameBottom3 {
  margin-bottom: 10px;
}

.gameBottom4 {
  margin-bottom: 20px;
}

.gameLeft {
  padding-left: 20px;
}

/* .gameLeft2 {
  padding-left: 13px;
} */

.gameRight {
  padding-right: 20px;
}

.gameRight2 {
  padding-right: 5px;
}

.gameRight3 {
  margin-right: 20px;
}

.titleGradient {
  background-image: linear-gradient(to right, #FFF , #b2b4b2);
}

.platform {
  float: left;
  padding-right: 10px;
}

a.searchLink {
  color: #000;
  text-decoration: none;
}

a.searchLink:hover {
  color: #FFF;
}

.screenshots {
  float: left;
}

.screenshots img {
  height: 200px;
  width: 200px;
  padding-right: 10px;
}

.floatLeft {
  float: left;
}

.sell {
  float: right;
  font-size: 27px;
}

p.gameRight.sell {
  color: #000;
  text-decoration: none;
}

p.gameRight.sell:hover {
  color: #FFF;
}

#screenshots {
  display: none;
}

#summary {
  display: none;
}

#storefront {
  display:  none;
}

.sf {
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}

.gselipsis {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.sold {
  color: #000;
  text-decoration: none;
}

a.sold:hover {
  color: #7c7c7c;
}

a.user {
  color: #7c7c7c;
  text-decoration: none;
}

a.user:hover {
  color: #000;
}

.sellingIMG {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  padding: 0px;
}

/* img {
  -webkit-backface-visibility: hidden; 
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
} */

.center {
  text-align: center;
  align-content: center;
}
 
/*.sellTop {
  padding-top: 20px;
} */

.gs {
  width: 600px;
  height: 800px;
  margin: 0 auto; 
}

#gs2 {
  padding-top: 20px;
  margin-left: 20px;
  border: 2px solid #000;
  background-color: #FFF;
  width: 575px;
  height: 345px;
}

.gs3 {
  margin-left: 20px;
}

.gs4 {
  height: 210px;
}

.gs5 {
  margin: 1px;
}

.sfBorder {
  background-color: #FFF;
  border: 2px solid #000;
}

#desc {
  display: none;
}

.sshots {
  height: 100px;
}

.sum {
  width: 1520px;
}

#removebtn {
  display: none;
}

#removebtn:hover {
  background-color: #000;
  color: #fff;
}

#paypal-button-container{
  margin: 20px;
  text-align: center;
}