<div class="titleGradient">
    <a href="#" ng-click="$event.preventDefault();sellGame(game.gameID,game.gameTitle,game.platforms,game.cover.url)">
        <p class="gameLeft gameRight sell">SELL GAME</p>
    </a>
    <div class="gameLeft">
        <img data-ng-src="{{ game.cover.url }}" class="imgLeft" />
        <h1 class="sElipsis"><strong>{{ game.gameTitle }}</strong></h1>
        <div>
            <p class="floatLeft gameRight2"><strong>Platform(s):</strong></p>
            <p ng-repeat='platform in game.platforms' class="platform"><strong>{{ platform.name }}</strong></p>
            <!-- <p>Release Date: {{ game.releaseDate }}</p> -->
        </div>
    </div>
</div>
<br />
<br />
<div class="gameLeft sshots">
    <h3><strong>SCREENSHOTS:</strong></h3>
    <div class="screenshots gameBottom2" ng-repeat='screenshot in game.screenshots'>
        <img data-ng-src="{{ screenshot.url }}" />
    </div>
    <div id="screenshots">
        <h3>N/A</h3>
    </div>
</div>
<br />
<br />
<div class="gameLeft floatLeft sum">
    <h3><strong>SUMMARY:</strong></h3>
    <div class="summary">
        <p>{{ game.summary }}</p>
    </div>
    <div id="summary">
        <h3>N/A</h3>
    </div>
</div>
<br />
<br />
<div class="gameLeft floatLeft sfront">
    <h3><strong>STOREFRONT:</strong></h3>
    <div class="storefront floatLeft gameRight3 sfBorder center" ng-repeat='beingSold in selling'>
        <a class="sold" href="#!/gameSold/{{ beingSold.id }}"><img data-ng-src="{{ beingSold.coverURL }}" />
            <p class="sf">{{ beingSold.title }}</p>
        </a>
        <p class="sf">{{ beingSold.platform }}</p>
        <p class="sf">${{ beingSold.price }}</p>
        <p class="sf">Seller: <a class="user" href="#!/account/{{ beingSold.sUser }}">{{ beingSold.sUser }}</a></p>
    </div>
    <div id="storefront">
        <h3>No one is selling this game. Do you want to sell this game?</h3>
    </div>
</div>