<div class="bodyClass">
    <h1>LOG IN</h1>
    <div class='box'>
        <br />
        <div id="error"></div>
        <div class="input-group">
            <form ng-submit='logIn()' autocomplete="off">
                <h2>Log In To Your Account</h2>
                Username*: <input type="text" class="form-control" ng-model="username" name="username" id="userInput">
                <br />
                <br />
                <br />
                Password*: <input type="text" class="form-control" ng-model="password" name="password" id="passInput">
                <br />
                <br />
                <br />
                <button class='btn' id='accntbtn' type="submit">LOG IN</button>
            </form>
        </div>
        <br />
        <div>
            <a href="#!/signup">SIGN UP</a>
        </div>
    </div>
</div>