<div class="homeNav">
    <a class="navbar-brand home" href="#!/">RetroEZ</a>
</div>
<div class="bodyClass">
    <h1><strong>LOG IN</strong></h1>
    <div class='box'>
        <div id="error" class="gameTop"></div>
        <div class="input-group lisu">
            <form ng-submit='logIn()' autocomplete="off">
                <h2>Log In To Your Account</h2>
                <div class="gameBottom">
                <strong>Username:</strong> <input type="text" class="form-control" ng-model="username" name="username" id="userInput">
                </div>
                <div class="gameBottom">
                <strong>Password:</strong> <input type="password" class="form-control" ng-model="password" name="password" id="passInput">
                </div>
                <button class='btn' id='accntbtn' type="submit">LOG IN</button>
            </form>
        </div>
        <div class="gameTop">
            <a class="lisua" href="#!/signup">SIGN UP</a>
        </div>
    </div>
</div>