<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
      <li>
        <div class="border-bttm">
          <a href="#!/messages/new" class="smallTxt"><span class="glyphicon glyphicon-plus-sign"
              aria-hidden="true"></span></a>
        </div>
      </li>
      <li>
        <a href="#!/messages">Inbox</a>
      </li>
      <li>
        <a href="#!/messages/sent">Sent</a>
      </li>
      <!-- <li>
        <a href="#!/messages/trash">Trash</a>
      </li> -->
    </ul>
  </div>


  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id='messages'>
            <div id='indexSent' ng-repeat='message in messages'>
              <div>
                <p class="topRow gameRight f-24">Username: <a class="msgA"
                    href='#!/account/{{ message.user }}'>{{ message.user }}</a></p>
                <a class="topRow msgA f-24" href="#" ng-click="$event.preventDefault();deleteMessage(message.id)"><span
                    class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
              </div>
              <div>
                <p class="bRow f-24">{{ message.msg }}</p>
              </div>
            </div>
            <!-- <table id='messageTable'>
              <tr ng-repeat="message in messages">
                <td id="messageTD">Username: <a class="tableA" href='#!/account/{{ message.user }}'>{{ message.user }}</a></td>
                <td id="messageTD">{{ message.msg }}</td>
                <div id="delTD">
                  <td><a class="tableA" href="#" ng-click="$event.preventDefault();deleteMessage(message.id)"><span
                        class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </div>
              </tr>
            </table> -->
          </div>
          <div id="new">
            <div id="error"></div>
            <form ng-submit='sendMessage()' autocomplete="off">
              <div class="topRow">
                <input type="text" class="form-control" ng-model="username" name="username" id="userInput"
                  placeholder="Username">
              </div>
              <div class="topRow">
                <button class='btn' id='msgbtn' type="submit">SEND <span class="glyphicon glyphicon-share-alt"
                    aria-hidden="true"></button>
              </div>
              <div class="textwrapper"><textarea id="messageBox" cols="2" rows="10" ng-model="message"
                  placeholder="Type in Message"></textarea></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>