<div class="bodyClass">
    <h1><strong>Selling: {{ game.gameTitle }}</strong></h1>
    <div class='box'>
        <br />
        <div id="error"></div>
        <div class="input-group sellGame">
            <div id="req"><strong>* REQUIRED</strong></div>
            <br />
            <form ng-submit='sellGame()' autocomplete="off">
                <div class="row">
                    <input type="text" class="form-control col-xs-12" ng-model="title" name="title" id="titleInput"
                        placeholder="{{ game.gameTitle }}" value="{{ game.gameTitle }}">
                    <br />
                    <br />
                    <br />
                    <label>Price:*</label>
                    <input type="number" step="0.01" class="form-control col-xs-6" ng-model="price" name="price" id="priceInput"
                        placeholder="Price in $">
                    <br />
                    <br />
                    <br />
                    <div class="form-group col-xs-12">
                        <label for="sel1">Platform(s):*</label>
                        <select class="form-control" id="sel1" ng-model='platform' placeholder='Select Platform'>
                            <option ng-repeat='platform in game.platforms'>{{ platform.name }}</option>
                        </select>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="textwrapper col-xs-12"><textarea id="messageBox2" cols="2" rows="5" ng-model="desc"
                            placeholder="Description"></textarea></div>
                    <br />
                    <br />
                    <br />
                    <div class="form-group col-xs-12">
                        <label for="sel2">Choose delivery option:*</label>
                        <select class="form-control" id="sel2" ng-model='delivery' placeholder='Delivery Options'>
                            <option ng-repeat='option in deliveryOptions'>{{ option }}</option>
                        </select>
                    </div>
                    <br />
                    <br />
                    <br />
                    <button class='btn' id='sellbtn' type="submit">SELL GAME</button>
                </div>
            </form>
        </div>
    </div>
</div>