<div class="homeNav">
    <a class="navbar-brand home" href="#!/"><img class="logoIMG" data-ng-src='./img/retroezlogo.png' /></a>
</div>
<div class="bodyClass">
    <h1><strong>SIGN UP</strong></h1>
    <div class='box'>
        <div id="error" class="gameTop"></div>
        <div class="input-group lisu">
            <form ng-submit='signUp()' autocomplete="off">
                <div id="req"><strong>* REQUIRED</strong></div>
                <h2>Create an Account</h2>
                <div class="gameBottom">
                    <strong>Username*:</strong> <input type="text" class="form-control" ng-model="username"
                        name="username" id="userInput">
                </div>
                <div class="gameBottom">
                    <strong>Password*:</strong> <input type="password" class="form-control" ng-model="password"
                        name="password" id="passInput">
                </div>
                <button class='btn' id='accntbtn' type="submit">CREATE ACCOUNT</button>
            </form>
        </div>
        <div class="gameTop">
            <a class="lisua" href="#!/login">LOG IN</a>
        </div>
    </div>
</div>