<div class="bodyClass">
    <h1>SIGN UP</h1>
    <div class='box'>
        <br />
        <div id="error"></div>
        <div class="input-group">
            <form ng-submit='signUp()' autocomplete="off">
                <div id="req"><strong>* REQUIRED</strong></div>
                <h2>Create an Account</h2>
                Username*: <input type="text" class="form-control" ng-model="username" name="username" id="userInput">
                <br />
                <br />
                <br />
                Password*: <input type="text" class="form-control" ng-model="password" name="password" id="passInput">
                <br />
                <br />
                <br />
                <button class='btn' id='accntbtn' type="submit">CREATE ACCOUNT</button>
            </form>
        </div>
        <br />
        <div>
            <a href="#!/login">LOG IN</a>
        </div>
    </div>
</div>