<nav class="nav navbar-nav navbar-center">
    <input type="text" class="form-control" ng-model="search.title" placeholder="Search Games Being Sold">
</nav>
<h1 class="gameLeft"><strong>STOREFRONT:</strong></h1>
<div class="gameLeft floatLeft">
    <div class="storefront floatLeft gameRight3 gameBottom4 sfBorder center" ng-repeat='beingSold in selling | filter: search | orderBy : "title"'>
        <a class="sold" href="#!/gameSold/{{ beingSold.id }}"><img data-ng-src="{{ beingSold.coverURL }}" />
            <p class="sf">{{ beingSold.title }}</p>
        </a>
        <p class="sf">{{ beingSold.platform }}</p>
        <p class="sf">${{ beingSold.price }}</p>
        <p class="sf">Seller: <a class="user" href="#!/">{{ beingSold.sUser }}</a></p>
    </div>
    <div id="storefront">
        <h3>No one is selling games. Do you want to be the first person to sell a game?</h3>
    </div>
</div>